---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>

    <p class="meta" style="float:left;">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
   <p style="float:right; font-size:75%;">Tags: {% for tag in page.tags %}<a href="/tags/{{ tag }}/">{{ tag }}{% unless forloop.last %},{% endunless %}</a>{% endfor %}</p>
  
 </header>
  
 <article class="post-content">
  {{ content }}
  </article>
</div>

<div style="display:block; width:auto; overflow:hidden;">
 {% if page.previous.url %}
   <a style="display:block; float:left; width:50%; text-align:left;" href="{{page.previous.url | prepend: site.baseurl}}">« {{page.previous.title}}</a>
 {% else %}
<p style="display:block; float:left; width:50%;">First post</p> 
{% endif %} 
 {% if page.next.url %}
  <a style="display:block; float:left; width:50%; text-align:right;" href="{{page.next.url | prepend: site.baseurl}}">{{page.next.title}} &raquo;</a>
 {% endif %}
</div>

{% include comments.html %}
