---
layout: page
---
<div class="home">
        <!-- Begin blog articles -->
            {% if site.tags[page.filter_tag] %}
<ul class="posts">
            {% for post in site.tags[page.filter_tag] %}

            <!-- Begin post -->
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <p>{{ post.excerpt | remove: '<p>' | remove: '</p>'}}</p>
      </li>
            <!-- End post -->

            {% endfor %}
</ul>
            {% else %}
            <h2>No posts to display.</h2>
            {% endif %}
        <!-- End blog articles -->
</div>

{% include smalltagcloud.html %}  

</div>
